


body {
    max-width: 800px;
    margin: 0 auto;
  }
   
  img {
      height: 400px;
      width: 600px;
  }

  
  h1 {
    font-size: 1.5em;
  }
  
  h2 {
    font-size: 1.3em;
  }

  h3{
      font-size: 2em;
  }
  
  p,ul,ol,dl,address {
    font-size: 1.1em;
  }
  
  p, li, dd, dt, address {
    line-height: 1.5;
  }
  